<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add survey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgb(255, 255, 153) ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#/!">Logout</a>
                    </li>
            </div>
              </nav>

              <div style="margin-bottom: 20px; margin-left:45%">
                    <button class="btn btn-lg btn-success" style="margin-bottom: 20px;"  ng-click="open()">Add new</button>
                </div>
                <div class="popeye-modal-container" ng-show="visible">
                    <div class="popeye-modal">
                      <a class="popeye-close-modal" href ng-click="close()"></a>
                      <form >
                          <div style="margin-bottom: 20px; margin-left:35%">
                              <input type="text" placeholder="Question 1..." class="form-control" style="width: 350px" ng-model="anketa.question">
                              <br>
                              <input type="text" placeholder="Answer 1" class="form-control" style="width: 350px" ng-model="anketa.answer">
                              <br>
                              <input type="text" placeholder="Answer 2" class="form-control" style="width: 350px" ng-model="anketa.answer2">
          <br>
          <input type="text" placeholder="Answer 3" class="form-control" style="width: 350px" ng-model="anketa.answer3">
          <br>
                              <input type="button" value="Add Question" class="btn btn-success" ng-click="addAnketa()">
                              <input type="button" value="Finish" class="btn btn-warning" ng-click="close()">
                            </form>
                    </div>
                  </div>
                
                </div>
        
    
</body>
</html>