<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add survey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgb(255, 255, 153) ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#/!">Logout</a>
                    </li>
            </div>
              </nav>

              <div style="margin-bottom: 20px; margin-left:45%">
                    <button class="btn btn-lg btn-success" style="margin-bottom: 20px;"  ng-click="open()">Add new</button>
                </div>
                <div class="popeye-modal-container" ng-show="visible" style="margin-top: 5%">
                    <div class="popeye-modal">
                      <a class="popeye-close-modal" href ng-click="close()"></a>
                      <form >
                          <div style="margin-bottom: 20px; margin-left:35%">
                              <input type="text" placeholder="name..." class="form-control" style="width: 350px" ng-model="anketa.name">  <br> 
                            <input type="text" placeholder="Question 1..." class="form-control" style="width: 350px" ng-model="anketa.question1">
                              <br>
                              <input type="text" placeholder="Answer 1" class="form-control" style="width: 350px" ng-model="anketa.answer11">
                              <br>
                              <input type="text" placeholder="Answer 2" class="form-control" style="width: 350px" ng-model="anketa.answer12">
          <br>
          <input type="text" placeholder="Answer 3" class="form-control" style="width: 350px" ng-model="anketa.answer13">
          <br>
          <input type="text" placeholder="Answer 4" class="form-control" style="width: 350px" ng-model="anketa.answer14">
          <br>
          <input type="text" placeholder="Question 2..." class="form-control" style="width: 350px" ng-model="anketa.question2">
          <br>
          <input type="text" placeholder="Answer 1" class="form-control" style="width: 350px" ng-model="anketa.answer21">
          <br>
          <input type="text" placeholder="Answer 2" class="form-control" style="width: 350px" ng-model="anketa.answer22">
<br>
<input type="text" placeholder="Answer 3" class="form-control" style="width: 350px" ng-model="anketa.answer23">
<br>
<input type="text" placeholder="Answer 4" class="form-control" style="width: 350px" ng-model="anketa.answer24">
          <br>
                              <input type="button" value="Add Question" class="btn btn-success" ng-click="addAnketa(); close()">
                              <input type="button" value="Finish" class="btn btn-warning" ng-click="close()">
                              <input type="button" value="Update" class="btn btn-dark" ng-click="update(); close()">
                            </form>

                    </div>
                  </div>
                
                </div>
        
                <div class="row">
                    <div class="col-12" ng-repeat="x in myWelcome">
                        <div class="card" style="margin-right: 5%; margin-left: 5%">
                            <div class="card-header">
                                {{x.name}}
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 mb-4">
                                        1) {{x.question1}}: <br><input type="radio" name="odg" ng-model="anketa.answer11"> {{x.answer11}}
                                        <input type="radio" name="odg" ng-model="anketa.answer12"> {{x.answer12}}
                                        <input type="radio" name="odg" ng-model="anketa.answer13"> {{x.answer13}}
                                        <input type="radio" name="odg" ng-model="anketa.answer14"> {{x.answer14}}
                
                                    </div>
                                    <div class="col-12 mb-4">
                                            2)  {{x.question2}}: <br><input type="radio" name="odg" ng-model="anketa.answer21"> {{x.answer21}}
                                            <input type="radio" name="odg2" ng-model="anketa.answer22"> {{x.answer22}}
                                            <input type="radio" name="odg2" ng-model="anketa.answer23"> {{x.answer23}}
                                            <input type="radio" name="odg2" ng-model="anketa.answer24"> {{x.answer24}}
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-success">Submit</button>
                                        <button class="btn btn-danger " ng-click="deleteSurvey(x._id) ">Remove</button>
                                        <button class="btn btn-dark "  ng-click="edit(x._id); open()">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</body>
</html>